<div class="container">
  <div class="item">
     <p id="new-survey"><%= link_to "New Survey", new_survey_path, class: "btn btn-success btn-md btn-block" %></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render @surveys %>
  </div>
</div>
